.place__title{
    color: white;
    margin: 0;
    font-family: 'InterBlack';
    font-size: 72px;
    line-height: 76px;
    width: 460px;
}
@media screen and (max-width:1024px) {
    .place__title {
        width: 440px;
    }
}
@media screen and (max-width:1023px) {
    .place__title {
        width: 330px;
        font-size: 42px;
        line-height: 46px;
    }
}
@media screen and (max-width:767px) {
    .place__title {
        width: 320px;
        font-size: 32px;
        line-height: 35px;
    }
}
@media screen and (max-width:669px) {
    .place__title {
        width: 288px;
    }
}
@media screen and (max-width:320px) {
    .place__title {
        margin: 0 16px;
    }
}