.places{
    margin: 0 auto 92px auto;
    max-width: 984px;
    display: flex;
    flex-direction: column;
    gap: 80px 0;
}
@media screen and (max-width:1024px) {
    .places{
        margin-left: 48px;
        margin-right: 48px;
    }
}
@media screen and (max-width:850px) {
    .places{
        margin-left: 24px;
        margin-right: 24px;
    }
}
@media screen and (max-width:768px) {
    .places{
        margin-bottom: 90px;
        gap: 71px 0;
    }
}
@media screen and (max-width:767px) {
    .places{
        margin-left: 12px;
        margin-right: 12px;
        margin-bottom: 66px;
    }
}
@media screen and (max-width:320px) {
    .places{
        gap: 50px 0;
        margin-left: 0;
        margin-right: 0;
    }
}