.place__paragraphs{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 23px 0;
    max-width: 484px;
}
@media screen and (max-width:1024px) {
    .place__paragraphs{
        max-width: 456px;
    }
}
@media screen and (max-width:1023px) {
    .place__paragraphs{
        max-width: 352px;
        gap: 25px 0;
    }
}
@media screen and (max-width:767px) {
    .place__paragraphs{
        max-width: 288px;
    }
}
@media screen and (max-width:320px) {
    .place__paragraphs{
        margin: 0 16px;
    }
}