  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("./__regular/Inter-Regular.woff2") format("woff2"),
         url("./__regular/Inter-Regular.woff") format("woff");
  }

  @font-face {
    font-family: 'InterBold';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url("./__bold/Inter-Bold.woff2") format("woff2"),
         url("./__bold/Inter-Bold.woff") format("woff");
  }

  @font-face {
    font-family: 'InterBlack';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url("./__black/Inter-Black.woff2") format("woff2"),
         url("./__black/Inter-Black.woff") format("woff");
  }