.intro{
    margin: 0 148px 92px 148px;
    max-width: 690px;
}
@media screen and (max-width:1024px) {
    .intro{
        margin-left: 48px;
        margin-right: 48px;
    }
}
@media screen and (max-width:768px) {
    .intro{
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 88px;
        max-width: 720px;
    }
}
@media screen and (max-width:370px) {
    .intro{
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 60px;
    }
}
@media screen and (max-width:320px) {
    .intro{
        margin-bottom: 63px;
    }
}